---
name: admin2
url: /admin2
controller: "adminCtrl as ad"
animationIn: slideInLeft
---



<div class="grid-container">
  <h1>Administrator</h1>

<div class="row">
  <div class="card primary small-6 medium-4 columns">
  	<img src="assets/img/people.jpg" alt="People">
  	<div class="card-divider">People</div>
  	<div class="card-section show-for-medium-up">
  		Workers, Managers and Vendors.
  	</div>
  </div>
  <div class="card primary small-6 medium-4 columns">
  	<img src="assets/img/site.jpg" alt="Sites">
  	<div class="card-divider">Sites</div>
  	<div class="card-section show-for-medium-up">
  		Factory Sites
  	</div>
  </div>
</div>

<div class="row">
  <div class="card primary small-6 medium-4 columns">
  	<img src="assets/img/equipment.gif" alt="Equipment">
  	<div class="card-divider">Equipment</div>
  	<div class="card-section show-for-medium-up">
  		Factory Equipment
  	</div>
  </div>
  <div class="card primary small-6 medium-4 columns">
  	<img src="assets/img/workorder.jpg" alt="Work Orders">
  	<div class="card-divider">Work Orders</div>
  	<div class="card-section show-for-medium-up">
  		Work Orders
  	</div>
  </div>
</div>

<div class="row">
  <div class="card primary small-6 medium-4 columns">
  	<img src="assets/img/task.jpg" alt="Tasks">
  	<div class="card-divider">Tasks</div>
  	<div class="card-section show-for-medium-up">
  		A WorkOrder broken down into Tasks
  	</div>
  </div>
  <div class="card primary small-6 medium-4 columns">
  	<img src="assets/img/task.jpg" alt="Tasks">
  	<div class="card-divider">Tasks</div>
  	<div class="card-section show-for-medium-up">
  		A WorkOrder broken down into Tasks
  	</div>
  </div>
</div>

</div>
