<div class="grid-block vertical">

  <h3 class="grid-content small-12">Equipment Details</h3>

  <div class="grid-block small-12">
		<div class="small-12 grid-content">
			<label>Name</label>
			<input type="text" placeholder="Name" ng-model="adminEquipmentDetCtrl.equipment.name">
		</div>
		<div class="small-12 grid-content">
			<label>Description</label>
			<input type="text" placeholder="Description" ng-model="adminEquipmentDetCtrl.equipment.descr">
		</div>
		<div class="small-12 grid-content">
			<label>Comments</label>
			<input type="text" placeholder="Comments" ng-model="adminEquipmentDetCtrl.equipment.comments">
		</div>
		<div class="small-12 grid-content">
			<p ng-bind-html="adminEquipmentDetCtrl.equipment.comments | unsafe"></p>
		</div>

		<div class="small-4 grid-content">
			<label>Location</label>
			<select ng-model="adminEquipmentDetCtrl.equipment.location">
			<option ng-repeat="loc in adminEquipmentDetCtrl.sites" 
			        value="{{loc.id}}"
			        ng-selected="loc.id == adminEquipmentDetCtrl.equipment.location">{{loc.name}}</option>
			</select>
		</div>
		<div class="small-4 grid-content">
			<label>Model Number</label>
			<input type="text" placeholder="Model #" ng-model="adminEquipmentDetCtrl.equipment.modelno">
		</div>
		<div class="small-4 grid-content">
			<label>Serial Number</label>
			<input type="text" placeholder="Serial #" ng-model="adminEquipmentDetCtrl.equipment.serialno">
		</div>

		<div class="small-3 grid-content">
			<label>Category</label>
			<select ng-model="adminEquipmentDetCtrl.equipment.category">
			<option ng-repeat="cat in adminEquipmentDetCtrl.equipmentTypes" 
			        value="{{cat.id}}"
			        ng-selected="cat.id == adminEquipmentDetCtrl.equipment.category">{{cat.name}}</option>
			</select>
		</div>
		<div class="small-9 grid-content">
			<label>Vendor</label>
			<select ng-model="adminEquipmentDetCtrl.equipment.vendor">
			<option ng-repeat="v in adminEquipmentDetCtrl.vendors" 
			        value="{{v.id}}"
			        ng-selected="v.id == adminEquipmentDetCtrl.equipment.vendor">{{v.name}}</option>
			</select>
		</div>

		<div class="small-12 grid-content" ng-show="adminEquipmentDetCtrl.equipment.parent_id > 0">
			<label>Parent Part</label>
			<a class="secondary button" ui-sref="admin.equipment_details({id: adminEquipmentDetCtrl.equipment.parent_id})">
				{{adminEquipmentDetCtrl.equipment.parent_name}}
			</a>
		</div> 

		<div class="grid-block align-right">
			<ul class="button-group grid-content">
				<li><a class="secondary button" ui-sref="admin.equipment">Return to List</a></li>
				<li><a class="button" ng-click="adminEquipmentDetCtrl.save()">Save Changes</a></li>	
			</ul>
		</div>
	
	</div>

	<!-- List of Sub-Parts for this Part -->
	<div class="grid-block">
		<section class="block-list grid-content small-12">
		<header>List of Sub Component Parts</header>
			<ul>
				<li ng-repeat="part in adminEquipmentDetCtrl.subparts">
					<a ui-sref="admin.equipment_details({id: part.id})">
					{{part.name}} - {{part.descr}} Model: {{part.modelno}} Serial: {{part.serialno}}
					</a>				
				</li>
			</ul>
		</section>	
	</div>

	<!-- List of WorkOrders for this Part -->
	
</div>



