---
name: admin.equipment
url: /equipment
---
<div class="grid-block">

  <h3 class="grid-content small-12">Select Site</h3>

  <div class="grid-block small-12">
		<input type="checkbox" 
			ng-model="ctrl.allSites"
			ng-change="ctrl.toggleAllSites()" 
			id="0">
		<label class="right" for="0">All</label>  		
	<div class="switch grid-content small-3" 
	     ng-repeat="site in ctrl.sites">
		<input type="checkbox" 
			ng-model="ctrl.selectedSites[site.id]" 
			ng-change="ctrl.siteSelected(site.id)" 
			id="{{site.id}}">
		<label class="right" for="{{site.id}}">{{site.name}}</label>
	</div>
  </div>

  <h3 class="grid-content small-12">List of Equipment</h3>

	<zf-accordion class="grid-content small-12">
		<zf-accordion-item 
		    title="{{equipment.name}}" 
		    ng-repeat="equipment in ctrl.mainSiteEquips">

		<div class="grid-block">
		<div class="small-12 grid-content">
			<label>Name</label>
			<input type="text" placeholder="Name" ng-model="equipment.name">
		</div>
		<div class="small-12 grid-content">
			<label>Description</label>
			<input type="text" placeholder="Description" ng-model="equipment.descr">
		</div>
		<div class="small-12 grid-content">
			<label>Comments</label>
			<input type="text" placeholder="Comments" ng-model="equipment.comments">
		</div>
		<div class="small-12 grid-content">
			<p ng-bind-html="equipment.comments | unsafe"></p>
		</div>

		<div class="small-4 grid-content">
			<label>Location</label>
			<select ng-model="equipment.location">
			<option ng-repeat="loc in ctrl.sites" 
			        value="{{loc.id}}"
			        ng-selected="loc.id == equipment.location">{{loc.name}}</option>
			</select>
		</div>
		<div class="small-4 grid-content">
			<label>Model Number</label>
			<input type="text" placeholder="Model #" ng-model="equipment.modelno">
		</div>
		<div class="small-4 grid-content">
			<label>Serial Number</label>
			<input type="text" placeholder="Serial #" ng-model="equipment.serialno">
		</div>

		<div class="small-4 grid-content">
			<label>Category</label>
			<select ng-model="equipment.category">
			<option ng-repeat="cat in ctrl.equipmentTypes" 
			        value="{{cat.id}}"
			        ng-selected="cat.id == equipment.category">{{cat.name}}</option>
			</select>
		</div>
		<div class="small-8 grid-content">
			<label>Vendor</label>
			<select ng-model="equipment.vendor">
			<option ng-repeat="v in ctrl.vendors" 
			        value="{{v.id}}"
			        ng-selected="v.id == equipment.vendor">{{v.name}}</option>
			</select>
		</div>

		<div class="small-8 grid-content">
			<label>Parent Part</label>
			<a ui-sref="admin.equipmentdetails({id: equipment.parent_id})">{{equipment.parent_name}}</a>
		</div>

		<div class="small-4 grid-content">
			<button>Details</button>
		</div>

		</div>

		</zf-accordion-item>
	</zf-accordion>


</div>
