<div class="grid-container">

  <h3>List of Sites</h3>

	<zf-accordion>
		<zf-accordion-item title="{{site.name}}" ng-repeat="site in adminSiteCtrl.sites">

		<div class="grid-block">
		<div class="small-12 grid-content">
			<label>Name</label>
			<input type="text" placeholder="Name" 
			       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }"
			       ng-change="adminSiteCtrl.changed(site)"
				   ng-model="site.name">
		</div>
		<div class="small-12 grid-content">
			<label>Address</label>
			<input type="text" placeholder="Address" 
			       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }"
			       ng-change="adminSiteCtrl.changed(site)"
				   ng-model="site.address">
			<a ng-href="{{adminSiteCtrl.getSiteMapURI(site.address)}}" target="googlemaps">Map</a>
		</div>
		<div class="small-6 grid-content">
			<label>Phone</label>
			<input type="text" placeholder="Phone" 
			       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }"
			       ng-change="adminSiteCtrl.changed(site)"
				   ng-model="site.phone">
		</div>
		<div class="small-6 grid-content">
			<label>Contact</label>
			<input type="text" placeholder="Email" 
			       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }"
			       ng-change="adminSiteCtrl.changed(site)"
				   ng-model="site.contact">
		</div>
		</div>

		</zf-accordion-item>
	</zf-accordion>

</div>
