---
name: admin
url: /admin
controller: "adminCtrl as ad"
animationIn: slideInLeft
---

<div class="grid-container">
  <h1>Administrator</h1>

  <div class="card primary">
  	<img src="assets/img/people.jpg" alt="People">
  	<div class="card-divider">People</div>
  	<div class="card-section">
  		Workers, Managers and Vendors.
  	</div>
  </div>

  <div class="card primary">
  	<img src="assets/img/site.jpg" alt="Sites">
  	<div class="card-divider">Sites</div>
  	<div class="card-section">
  		Factory Sites
  	</div>
  </div>

  <div class="card primary">
  	<img src="assets/img/equipment.gif" alt="Equipment">
  	<div class="card-divider">Equipment</div>
  	<div class="card-section">
  		Factory Equipment
  	</div>
  </div>
  <div class="card primary">
  	<img src="assets/img/workorder.jpg" alt="Work Orders">
  	<div class="card-divider">Work Orders</div>
  	<div class="card-section">
  		Work Orders
  	</div>
  </div>
  <div class="card primary">
  	<img src="assets/img/task.jpg" alt="Tasks">
  	<div class="card-divider">Tasks</div>
  	<div class="card-section">
  		A WorkOrder broken down into Tasks
  	</div>
  </div>


</div>
