<div class="grid-container">

	<div class="card">
	<h2>Login</h2>
	<div class="large-3 large-centered columns">
	  <div class="login-box">
	  <div class="row">
	  <div class="large-12 columns">
	  <form ng-submit="loginCtrl.login()" method="POST">
	       <div class="row">
	         <div class="large-12 columns">
	             <input type="text" name="username" ng-model="loginCtrl.username" placeholder="Username" />
	         </div>
	       </div>
	      <div class="row">
	         <div class="large-12 columns">
	             <input type="password" name="password" ng-model="loginCtrl.passwd" placeholder="Password" />
	         </div>
	      </div>
	      <div class="row">
	        <div class="large-12 large-centered columns">
	          <input type="submit" class="button expand" value="Log In"/>
	        </div>
	      </div>
	    </form>
	  </div>
	</div>
	</div>
	</div>
	</div>

</div>
