<div class="grid-block">

  <h3 class="grid-content small-12">List of Equipment</h3>

	<zf-accordion class="grid-content small-12">
		<zf-accordion-item 
		    title="{{equipment.name}}  ....  {{equipment.location_name}}"
		    ng-repeat="equipment in workerEquipmentCtrl.siteEquip">

		<div class="grid-block align-right">
			<div class="small-12 grid-content">
				<label>Name / Description</label>
				<input type="text" placeholder="Name" 
   			           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }"
   			           ng-disabled="true"
			           ng-change="workerEquipmentCtrl.changed(equipment)"
					   ng-model="equipment.name">
				<input type="text" placeholder="Description" 
   			           ng-disabled="true"
   			           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }"
			           ng-change="workerEquipmentCtrl.changed(equipment)"
				       ng-model="equipment.descr">
				<div class="thumbnails">
				<p ng-bind-html="equipment.comments | unsafe"></p>
				</div>
			</div>

			<div class="small-6 grid-content">
				<label>Model Number</label>
				<input type="text" placeholder="Model #" 
   			           ng-disabled="true"
   			           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }"
			           ng-change="workerEquipmentCtrl.changed(equipment)"
				       ng-model="equipment.modelno">
			</div>
			<div class="small-6 grid-content">
				<label>Serial Number</label>
				<input type="text" placeholder="Serial #" 
   			           ng-disabled="true"
   			           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }"
			           ng-change="workerEquipmentCtrl.changed(equipment)"
				       ng-model="equipment.serialno">
			</div>

		</div>

		</zf-accordion-item>
	</zf-accordion>


</div>
