<!doctype html>
<html lang="en" ng-app="itrak">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iTrak Machine Maintenace</title>
    <link href="./assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="./assets/js/foundation.js"></script>
    <script src="./assets/js/templates.js"></script>
    <script src="./assets/js/routes.js"></script>
    <script src="./assets/js/app.js"></script>
  </head>
  <body ng-controller="mainPageCtrl">
    <div class="grid-frame vertical">
      <div class="grid-content shrink" style="padding: 0;">

        <div class="menu-group primary">
          <div class="menu-group-left">
            <ul class="primary condense menu-bar">
              <li><a><img src="assets/img/supaloc-logo-white.png" style="width:120px" alt="Supaloc logo"></a></li>
              <li><a><strong>iTrak Machine Maintenance</strong></a></li>
            </ul>           
          </div>
          some code here
          <div class="menu-group-right" ng-if="isLoggedIn()">
            <ul class="menu-bar primary">
              <li><a ng-click="logout()">Logout</a></li>         
            </ul>            
          </div>
        </div>
        
      </div>
      <div ui-view class="grid-content">
      </div>
    </div>
  </body>
</html>
